/* work sans font forom google fonts */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

/* shared style */
body {
    font-family: 'Work Sans', sans-serif;
}

.text_light_gray {
    color: #727272;
}

.btn_praimari {
    border-radius: 8px;
    background: #FF900E;
    font-size: 1.25rem;
    color: #FFF;
    font-size: 20px;
    font-weight: 600;
    padding: 20px 25px;
    cursor: pointer;
    border: 0;
}

/* header style */
header {
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
}

.section_taitle {

    font-size: 45px;
    font-weight: 700;
    color: #131313;
    margin-bottom: 14px;

}

nav {
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;

}

nav li a {
    text-decoration: none;
    color: #424242;
}

/* banner style */
.banner_containt {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_taitle {
    font-size: 4rem;
    font-weight: 700;
    color: #131313;
}

.banner img {
    margin-top: 20px;
    width: 100%;
}

/* main style */
main {
    max-width: 1440px;
    margin: 70px auto;
}

/* fetures_container_style */
.fetures_container {
    display: flex;
    align-items: center;
}

.fetures_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.fetures_content {
    padding-left: 70px;
    padding-right: 70px;
}

.fetures_content_taitle {
    font-size: 2.8rem;
}

.fetures_content_taitle .Quick_list {
    color: #727272;
    font-weight: 500;
}

.fetures_content_taitle .text_Features {
    color: #FF900E;
    font-weight: 700;
}

/* feture section style */
/* .feature_section {
    margin-top: 130px;
    gap: 100px; 
}  */

.feature_section_taitle {
    color: var(--dark-01, #131313);
    font-size: 45px;
    font-weight: 700;
    border-left: 5px solid #FF900E;
    padding-left: 20px;
}

.feature_section {
    display: flex;
    margin-top: 130px;
    gap: 100px;
}

.feature_img img {
    height: 90%;
    margin-left: 90px;
}

.feature_content,
.card {

    padding: 10px;
    margin-bottom: 20;
    border-radius: 8px;
    background: #FFF;
  
}

.ten_year_badge {
    border-radius: 8px;
    background-color: #FF900E;
    color: #FFF;
    width: 342px;
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
}

.ten_year_badge h2 {
    font-size: 4rem;
    margin: 0;
}

.ten_year_badge p {
    font-size: 1.8rem;
}


/* facts session start */
.facts_card_container {
    display: flex;
    justify-content: space-around;
}

.facts_card_container .card {
    border-radius: 8px;
    border: 1px solid #FF900E;
    text-align: center;
    padding: 50px;
}

.facts_card_container .card_taitle {
    font-weight: 600;
    font-size: 1.5rem;
    margin-top: 5px;
}

.facts_card_container .card_stats {
    font-size: 2.5rem;
    color: #424242;
    margin-top: 10px;
    margin-bottom: 10px;
}

.card {
    margin-top: 20px;
    padding-left: 25px;
}

/* sponsor section start */
.sponsor {
    text-align: center;
}

/* sponsor section end */
.sponsoe_img_container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 150px;
    align-items: center;
    gap: 40px;
}

.sponsoe_img_container img {
    width: 165px;
}

/* facts session end */
/* footer section start */
.footer_section_pera {
    height: 100px;
    border-radius: 8px;
    background: #FFF4E7;
    display: flex;
    justify-content: center;
    align-items: center;
}
    /* footer section end */

    /* responsive media queries */
    /* mobile divices */
    @media screen and (max-width: 576px) {
        header {
            padding: 20px;
        }

        nav,
        .fetures_container,
        .feature,
        .facts_card_container {

            flex-direction: column;
        }

        .fetures_img_container {

            grid-template-columns: 1fr;
        }

        .feature_img img {
            width: 90%;
            margin: 0;
        }

        .ten_year_badge {
            position: static;

        }

        .fetures_content,
        .facts_card_container {
            padding-left: 20px;
            padding-right: 20px;
        }

        .facts_card_container {
            gap: 20px;
        }
    }



    /* tablet or medium divices */

    @media screen and (min-width: 576px) and (max-width:980px) {
        header {
            padding: 50px;
        }

        nav,
        .fetures .fetures_container,
        .sponsoe_img_container {
            flex-direction: column;
        }
    }